.borde {
     overflow: hidden;
     justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 95vh;
	border: 3px solid #000;
	position: relative;
        }


.borde-contenedor{

	margin: auto;
	margin-top: 35px;
	width: 70%;
	height: 85%;
	z-index: 89;
	border: 3px dotted #000;
	position: relative;

}



.curva {

	position: absolute;
	bottom: 0px;
    width: 100%;
    height: 140px;
    background-color:#1119;
    clip-path: ellipse(60% 100% at 50% 100%);
}


.snowflake {
            position: absolute;
            top: -10px;
            color: black;
            font-size: 20px;
            user-select: none;
            animation: fall linear infinite;
        }

        @keyframes fall {
            0% { transform: translateY(0px) rotate(0deg); }
            100% { transform: translateY(100vh) rotate(360deg); }
        }